.calendar{
	padding-top: 20px;
	.wc-zoom-bottomheader{
		position: absolute;
		right: 31px;
		margin-top: -30px;
		.wc-tools{
			width: auto;
			display: inline-block;
			border: 1px solid #CCC;
			background-color: white;
			padding: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		button{
			background: none;
			border: 0px solid;
			color: #CCC;
		}
		button:hover{
			cursor: pointer;
			color: #555;
		}
		button:focus{
			outline-width: 0px;
		}
	}
}
.wc-toolbar .wc-nav, .wc-time-header-cell, .ui-dialog .ui-dialog-titlebar, .ui-widget-header, .autowidth
{
	width: auto;
}
.wc-timerow{
	width: 100%;
}
.wc-grandtotal-row{
	width: 100%;
	td{
		width: 100%;
		text-align: right;
		font-size: 16px !important;
		font-weight: bold;
		padding-right: 20px;
	}
}
.wc-bottomheader .wc-day-column-bottomheader {
	text-align: center;
	padding: 0.4em;
}
.wc-bottomheader {
	background: #eee;
	border-width: 1px 0;
	border-style: solid;
}
.wc-header .wc-time-column-bottomheader {
	width: 45px;
}
.wc-today .ui-button-text{
	margin-left: 5px;
}
.ui-buttonset .ui-button{
	margin-right: 0px;
}
.ui-widget-header button:focus {
	outline-width: 0px;
}
.wc-registered .wc-time{
	background-color: green;
	border-color: darkgreen;
}