.wc-toolbar .wc-nav, .wc-time-header-cell, .ui-dialog .ui-dialog-titlebar, .ui-widget-header, .autowidth
{
	width: auto;
}
.wc-timerow{
	width: 100%;
}
.wc-grandtotal-row{
	width: 100%;
	td{
		width: 100%;
		text-align: right;
		font-size: 16px !important;
		font-weight: bold;
	}
}
.wc-bottomheader .wc-day-column-bottomheader {
	text-align: center;
	padding: 0.4em;
}
.wc-bottomheader {
	background: #eee;
	border-width: 1px 0;
	border-style: solid;
}
.wc-header .wc-time-column-bottomheader {
	width: 45px;
}