$maxitems : 12;

@for $denominator from 1 through $maxitems {
	@for $numerator from 1 through $denominator {
		#{".grid-" + $numerator + "-" + $denominator}
		{
			width: percentage($numerator / $denominator);
		}
	}
}

body {
	margin: 0;
}
h1 {
	margin: 0 0 1em;
	padding: 0.5em;
	color: #555555;
}
h2 {
	margin-top: 20px;
}
div, input, select{
	width: 100%;
}
input[type=checkbox]{
	width: auto;
	position: relative;
	top: 2px;
}
table{
	margin-bottom: 0;
}
th, td{
	text-align: left;
	font-size: 12px !important; 
}

.hidden
{
	display: none !important;
}


.remove-fontsize
{
	font-size: 0;
}
.set-fontsize
{
	font-size: 12px;
}
.align > div{
	vertical-align: top;
}

.configuration, .dialog, .popup
{
	div, input, select{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
	}
	div{
		display: inline-block;
		color: #555555;
	}
	table{
		margin-top: 20px;
		color: #555555;
	}
	div.container{
		padding-top: 15px;
	}
}

.column
{
	min-width: 400px;
	vertical-align: top;
	padding: 12px;
	
	.column__content{
		border-radius: 8px;
		padding: 12px;
		background-color: #eee;
	}
	.column__cell{
		margin-bottom: 5px;
	}
}

input.invalid, select.invalid
{
	outline-color: red !important;
	outline-offset: -2px !important;
	outline-style: auto !important;
	outline-width: 5px !important;
}
select.ui-widget.ui-dropdown
{
	background : white;
	padding: .4em 1em;
}
.relative {
	position: relative;
}
input[type=text].dropdowninput + .ui-icon{
	position: absolute;
	right: 4px;
	top: 6px;
}
.ui-icon{
	width: 16px;
}
.pixel{
	width: 1px;
	height: 1px;
	position: absolute;
	border-width: 0px;
}
.text--left{
	text-align: left;
}
.text--center{
	text-align: center;
}
.text--right{
	text-align: right;
}

/* Allow Font Awesome Icons in lieu of jQuery UI and only apply when using a FA icon */
.ui-icon[class*=" fa-"] {
    /* Remove the jQuery UI Icon */
    background: none repeat scroll 0 0 transparent;
    /* Remove the jQuery UI Text Indent */
    text-indent: 0; 
    /* Bump it up - jQuery UI is -8px */
    margin-top: -0.5em;
}

/* Allow use of icon-large to be properly aligned */
.ui-icon.icon-large {
    margin-top: -0.75em;
}

.ui-button-icon-only .ui-icon[class*=" fa-"] {
    /* Bump it - jQuery UI is -8px */
    margin-left: -7px;
}