@charset "UTF-8";

$maxitems : 12;

@for $denominator from 1 through $maxitems {
	@for $numerator from 1 through $denominator {
		#{".grid-" + $numerator + "-" + $denominator}
		{
			width: percentage($numerator / $denominator);
		}
	}
}

.configuration, .dialog 
{
	div, input, select{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
	}
	div{
		display: inline-block;
		color: #555555;
	}
	table{
		margin-top: 20px;
		color: #555555;
	}
	input, select{
		width: 100%;
		&.presetbutton{
			width: auto;
		}
	}
	div.container{
		padding-top: 15px;
	}
}
.ui-dialog .dialog{
	padding: 6.5px 5px 13px 4px;
	overflow: visible;
}

div{
	width: 100%;
}

.hidden
{
	display: none !important;
}

body {
font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
margin: 0;
}

h1 {
margin: 0 0 1em;
padding: 0.5em;
}

.popup
{
	width: 200px;
}

p.description {
font-size: 0.8em;
padding: 1em;
position: absolute;
top: 3.2em;
margin-right: 400px;
}

#message {
font-size: 0.7em;
position: absolute;
top: 1em;
right: 1em;
width: 350px;
display: none;
padding: 1em;
background: #ffc;
border: 1px solid #dda;
}
.remove-fontsize
{
	font-size: 0;
}
.set-fontsize
{
	font-size: 12px;
}
.column
{
	min-width: 400px;
	vertical-align: top;
	padding: 12px;
	
	.column__content{
		border-radius: 8px;
		padding: 12px;
		background-color: #eee;
	}
	.cell{
		margin-bottom: 5px;
	}
}

input.invalid, select.invalid
{
	outline-color: red;
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}
select.ui-widget.ui-dropdown
{
	background : white;
	padding: .4em 1em;
}
th, td{
	text-align: left;
	font-size: 12px !important; 
}
table{
	margin-bottom: 0;
}
.ui-tabs, .ui-tabs-panel{
	border-bottom-width: 0px !important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	text-align: right;
}
.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
}
#tabs>div{
	padding-top: 0;
}
.wc-toolbar .wc-nav, .wc-time-header-cell, .ui-dialog .ui-dialog-titlebar
{
	width: auto;
}